---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: '{{ backup_pvc }}'
  namespace: '{{ backup_pvc_namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(width=4) | trim }}
spec:
  accessModes:
    - ReadWriteOnce
{% if backup_storage_class | length %}
  storageClassName: '{{ backup_storage_class }}'
{% endif %}
  resources:
    requests:
      storage: '{{ backup_storage_requirements }}'
