---
apiVersion: v1
kind: Secret
metadata:
  name: auth-configuration-secret
  namespace: {{ namespace }}
data:
  auth_api_url: 'aHR0cHM6Ly9teS1hYXAtZ2F0ZXdheS5leGFtcGxlLmNvbQ=='
  auth_api_key: 'bXktYWFwLWtleQ=='
  auth_api_secret: 'bXktYWFwLXNlY3JldA=='
  auth_verify_ssl: 'ZmFsc2U='
  auth_allowed_hosts: 'Kg=='
type: Opaque
