---
apiVersion: v1
kind: Secret
metadata:
  name: chatbot-configuration-azure-openai-no-path
  namespace: {{ namespace }}
stringData:
  chatbot_llm_provider_type: 'azure_openai'
  chatbot_model: 'gpt-4o-mini'
  chatbot_url: 'https://your-resource-name.openai.azure.com'
  chatbot_token: 'my-azure-token'
  chatbot_model_config_extras: '{"api_version": "2024-02-15-preview"}'
type: Opaque