---
apiVersion: v1
kind: Secret
metadata:
  name: chatbot-configuration-secret
  namespace: {{ namespace }}
stringData:
  chatbot_llm_provider_type: 'rhoai_vllm'
  chatbot_model: 'granite3-3-8b'
  chatbot_url: 'http://localhost:8080'
  chatbot_token: 'my-token'
type: Opaque
