---
apiVersion: v1
kind: Secret
metadata:
  name: chatbot-configuration-secret
  namespace: {{ namespace }}
data:
  # chatbot_llm_provider_type: 'cmhvYWk='  # "rhoai" (default)
  # chatbot_llm_provider_type: 'b3BlbmFp'  # "openai"
  chatbot_model: 'Z3Jhbml0ZTMtMS04Yg=='
  chatbot_url: 'aHR0cDovL2xvY2FsaG9zdDo4MDgw'
  chatbot_token: ''
type: Opaque
