---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}-chatbot-api"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-chatbot-api'
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: '{{ ansible_operator_meta.name }}-chatbot-api-tls'
{% if service_annotations %}
    {{ service_annotations | indent(width=4) }}
{% endif %}
spec:
  ports:
  - port: 8443
    protocol: TCP
    targetPort: 8321
    name: https-api
  type: ClusterIP
  selector:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-chatbot-api'
