---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-system-prompt'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(width=4) | trim }}
data:
  DEFAULT_SYSTEM_PROMPT: |-
    {{ lookup("template", "ansible-chatbot-system-prompt.txt.j2") | indent(4) }}
