apiVersion: mcpserver.ansible.com/v1alpha1
kind: AnsibleMCPConnect
metadata:
  labels:
    app.kubernetes.io/name: ansiblemcpconnect
    app.kubernetes.io/instance: ansiblemcpconnect-sample
    app.kubernetes.io/part-of: ansible-ai-connect-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: ansible-ai-connect-operator
  name: ansiblemcpconnect-sample
spec:
  public_base_url: {{ public_base_url }}
  allow_write_operations: {{ allow_write_operations }}
  no_log: false
  ingress_type: Ingress
  ingress_path: /mcp
  service_type: NodePort
  image_pull_secrets:
    - redhat-operators-pull-secret
{% if mcpserver_image %}
  image: {{ mcpserver_image }}
{% endif %}
{% if mcpserver_version %}
  image_version: {{ mcpserver_version }}
{% endif %}
  api:
    resource_requirements:
      requests:
        cpu: 100m
        memory: 200Mi
