---
- name: Set the composed Chatbot API Key Secret name.
  set_fact:
    _chatbot_api_key_secret_name: "{{ ansible_operator_meta.name }}-{{ chatbot_api_key_secret_name }}"

- name: Check for existing Chatbot API Key Secret
  set_fact:
    _chatbot_api_key_secret: "{{ query('kubernetes.core.k8s', kind='Secret', namespace=ansible_operator_meta.namespace, resource_name=_chatbot_api_key_secret_name) }}"

- name: Create Chatbot API Key Secret
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'secrets/chatbot_api_key_secret.yaml.j2') }}"
  no_log: "{{ no_log }}"
  when:
    - _chatbot_api_key_secret | length == 0

- name: Read Chatbot API Key
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: '{{ ansible_operator_meta.namespace }}'
    name: '{{ _chatbot_api_key_secret_name }}'
  register: _generated_chatbot_api_key
  no_log: "{{ no_log }}"
  when:
    - _chatbot_api_key_secret | length == 0

- name: Set Chatbot API Key
  ansible.builtin.set_fact:
    chatbot_api_key: '{{ _generated_chatbot_api_key["resources"][0]["data"]["api_key"] | b64decode }}'
  no_log: "{{ no_log }}"
  when:
    - _chatbot_api_key_secret | length == 0
